@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    @apply bg-black text-gray-300;
}
#home-background-image {
    background-image: url("../images/home/home-bg-image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;

}
.label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2
}
.input {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 py-3 px-4 mb-3 leading-tight
}
.input-error-text {
    @apply text-red-500 text-xs italic
}
.link {
    @apply inline-block align-baseline font-bold text-blue-500
}
.red-button {
    @apply bg-red-600 text-gray-300 font-bold py-2 px-4
}
.payment-button {
    @apply bg-green-600 text-gray-300 font-bold py-2 mt-6 px-4
}
