@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    @apply bg-black text-gray-300;
}
#home-background-image {
    background-image: url("../images/home/home-bg-image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;

}
